<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  
  <% if account_signed_in? %>
    <% if comment.UserID == current_account.id%>
      <p>
        <%= button_to "Destroy Comment", [comment.article, comment],method: :delete,form: {data: {turbo_confirm: "Are you sure?"}}%>
      </p>
    <% end %>
  <% end %>
<% end %>
